<header class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a ui-sref="home" class="navbar-brand">ScripterMail</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a ui-sref="orgs">Orgs</a></li>
      <li><a ui-sref="events">Events</a></li>
      <li><a ui-sref="repos">Repos</a></li>
    </ul>
  </div>
</header>
<div class="container">
  <div ui-view></div>
</div>
<footer class="text-center">
  <hr>
  <span>Copyright 2015, ScripterMail</span>
</footer>
