<header class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed needsclick"
        type="button"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">

        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a ui-sref="home" class="navbar-brand">ScripterMail</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  data-toggle="collapse" data-target=".navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="orgs">Orgs</a></li>
        <li><a ui-sref="events">Events</a></li>
        <li><a ui-sref="repos">Repos</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-show="isLoggedIn">
          <a href="#" ng-click="signOut()">Logout</a>
        </li>
        <li ng-show="!isLoggedIn">
          <a href="#" ng-click="doSignup()">Login</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="container">
  <div ui-view></div>
</div>
<footer class="text-center">
  <hr>
  <span>Copyright 2015, ScripterMail</span>
</footer>
