<div class="row">
  <div class="col-lg-12">
    <div class="text-center">
      <h1>Find the developers you *need*</h1>
      <img src="img/developers.gif" style="border: 1px solid black;" alt="developers developers developers" />
      <br>
      <br>
      <h3>Pick a programming language:</h3>
      <div class="form-group">
        <select
          style="width: 160px; font-size: 1.5em;"
          ng-options="value for value in languages"
          ng-model="selectedLanguage"
          ng-change="goToSearch(selectedLanguage)">
        </select>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <h3>Email Them <i class="fa fa-envelope"></i></h3>
    <p>GitHub leaks a lot of information about your prospective customers and/or hires.
    For free. You are an idiot to not be taking advantage.</p>
  </div>
  <div class="col-md-4">
    <h3>Close Them <i class="fa fa-usd"></i></h3>
    <p>Craft your outbound message based on the lead's interests and send emails triggered by GitHub activity.</p>
  </div>
  <div class="col-md-4">
    <h3>Follow Up w/ Them <i class="fa fa-paper-plane"></i></h3>
    <p>Prospect doesn't respond? Try again. And again. And again. Research shows that emailing a prospect once leaves 200% of value on the table.</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12 text-center">
    <h2><i>Warning</i></h2>
    <p>In case it wasn't abundantly clear, the above is a <a href="https://en.wikipedia.org/wiki/Satire">satire</a>.</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12 text-center">
    <h2>About</i></h2>
    <p>This is a live demo of <a href"https://github.com/mmautner/github-email-thief">an open-source project</a>.
    It is MIT-licensed and non-commercial in nature.</p>
  </div>
</div>
