<div class="row">
  <div class="col-lg-12">
    <div class="text-center">
      <h1>Find the developers you *need*</h1>
      <img src="img/developers.gif" alt="developers developers developers" />
      <br>
      <br>
      <button class="btn btn-info btn-lg">Connect Gmail <i class="fa fa-google"></i> (Free)</button>
      <br>
      <a ui-sref="terms">Terms & Conditions</a>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-4">
    <h3>Email Them <i class="fa fa-envelope"></i></h3>
    <p>GitHub leaks a lot of information about your prospective customers and/or hires.
    For free. You are an idiot to not be taking advantage.</p>
  </div>
  <div class="col-lg-4">
    <h3>Close Them <i class="fa fa-usd"></i></h3>
    <p>Craft your outbound message based on the lead's interests and send emails triggered by GitHub activity.</p>
  </div>
  <div class="col-lg-4">
    <h3>Follow Up w/ Them <i class="fa fa-paper-plane"></i></h3>
    <p>Prospect doesn't respond? Try again. And again. And again. Research shows that emailing a prospect once leaves 200% of value on the table.</p>
  </div>
</div>
