<div>
  <h3>Text Query:</h3>
  <div class="form-inline">
    <div class="form-group">
      <input type="text"
        ng-model="formData.query"
        class="form-control">
    </div>
    <button type="submit"
      ng-click="refreshSearch()"
      class="btn btn-default">
      Submit
    </button>
  </div>
</div>
<h3>Pick a programming language:</h3>
<div class="form-group">
  <select style="width: 160px; font-size: 1.5em;"
    ng-options="value for value in languages"
    ng-change="refreshSearch()"
    ng-model="formData.language">
  </select>
</div>
<hr>
<div class="row">
  <div class="col-lg-12">
    <div ng-show="data.items">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Repo</th>
            <th>{{data.total_count}} results</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in data.items">
            <td><a ng-href="{{item.html_url}}">{{item.login}}</a></td>
            <td>
              <button
                class="btn btn-info"
                ng-click="searchEmailByUser(item.login)">
                Identify Email
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li ui-sref-active="active">
          <a ui-sref="search.repos({page: 1})">
            First
          </a>
        </li>
        <li ng-repeat="idx in range(numOfPages) | limitTo:10 track by $index" ui-sref-active="active">
          <a ui-sref="search.repos({page: $index+1})">
            {{$index+1}}
          </a>
        </li>
        <li ng-show="numOfPages > 10">
          <a ui-sref="search.repos({page: numOfPages})">
            Last
          </a>
        </li>
      </ul>
    </div>
    <div ng-show="!data.items">
      <p>No results</p>
    </div>
  </div>
</div>
