<div class="row">
  <div class="col-lg-12">
    <div class="search-box">
      <div class="form-group">
        <h2>Search:</h2>
        <ul class="list-inline">
          <li class="btn">
            <a ui-sref="search.repos" class="btn btn-default" ui-sref-active='active'>
              Repos
            </a>
          </li>
          <li>
            <a ui-sref="search.codes" class="btn btn-default" ui-sref-active='active'>
              Code
            </a>
          </li>
          <li class="btn">
            <a ui-sref="search.users" class="btn btn-default" ui-sref-active='active'>
              Users
            </a>
          </li>
        </ul>
      </div>
      <div ui-view></div>
    </div>
  </div>
</div>
